<div class="row">
    <div class="col-md-8 col-sm-12">
      <h2>Hi! Insert below your fovourite Youtuber Channel ID!
      </h2>
      <h5>After that go on other tabs!</h5>
      <div class="input-group mb-3">
        <input #ytID type="text" class="form-control" placeholder="Insert YouTube URL" aria-label="Insert YouTube URL" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button (click)="saveID(ytID.value)" class="btn btn-outline-secondary" type="button" id="button-addon2">Save</button>
        </div>
      </div>
      <h2>Or insert Channel Name!
      </h2>
      <h5>It doesn't metter what you choose!</h5>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Insert YouTube URL" aria-label="Insert YouTube URL" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Save</button>
        </div>
      </div>
      <div class="card-deck">
        <div class="card">
          <img src="{{avatarPewDiePie}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{namePewDiePie}}</h5>
            <p class="card-text">{{descriptionPewDiePie}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="{{avatarKuba}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{nameKuba}}</h5>
            <p class="card-text">{{descriptionKuba}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="{{avatarTVN}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{nameTVN}}</h5>
            <p class="card-text">{{descriptionTVN}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="phone animated shake delay-5s">
            <div class="speaker"></div>
            <div class="camera"></div>
            <div class="sensor"></div>
            
            
            <div class="screen">
               <div *ngIf="inserted" class="youtube-info">
                 <div class= "youtube-avatar">
                   <img src="{{avatar}}" style="width: 80px; height: 80;">
                 </div>
                 <div class="yt-name">{{name}}</div>
                 <div class="sub-count">{{subcount}}</div>
               </div>
            </div>
            
            <div class="button"></div>
            <div class="vup ext"></div>
            <div class="vdown ext"></div>
            <div class="power ext">

            </div>
          </div>
    </div>
</div>