<div class="row">
    <div class="col-md-8 col-sm-12">
      <h2>{{ 'main.title1' | translate}}</h2>
      <h5>{{ 'main.desc1' | translate}}</h5>
      <div class="input-group mb-3">
        <input #ytID type="text" class="form-control" placeholder="{{ 'main.input1' | translate}}" aria-label="Insert YouTube ChannelID" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button (click)="saveID(ytID.value)" class="btn btn-outline-secondary" type="button" id="button-addon2">{{ 'main.buttonSend' | translate}}</button>
        </div>
      </div>
      <h2>{{ 'main.title2' | translate}}
      </h2>
      <h5>{{ 'main.desc2' | translate}}</h5>
      <div class="input-group mb-3">
        <input #ytName type="text" class="form-control" placeholder="{{ 'main.input2' | translate}}" aria-label="Insert YouTube Channel Name" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button (click)="saveName(ytName.value)" class="btn btn-outline-secondary" type="button" id="button-addon2">{{ 'main.buttonSend' | translate}}</button>
        </div>
      </div>
        <app-main-cards></app-main-cards>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="phone animated shake delay-5s">
            <div class="speaker"></div>
            <div class="camera"></div>
            <div class="sensor"></div>
            
            
            <div class="screen">
               <div *ngIf="inserted" class="youtube-info">
                 <div class= "youtube-avatar">
                   <img src="{{avatar}}" style="width: 80px; height: 80;">
                 </div>
                 <div class="info-block">
                  <div class="yt-name">{{name}}</div>
                  <div class="sub-count">{{subcount}}</div>
                 </div>
               </div>
               <div *ngIf="inserted" class="informations-special">
                <br>
                {{'main.createDate' | translate}} {{date | date: 'ww-LLLL-yyyy'}}
                <br>
                {{'main.country' | translate}} <img src="../../assets/flags/{{countryCode | lowercase}}.png"  style="width: 50px;"/>
              </div>
            </div>
            
            <div class="button"></div>
            <div class="vup ext"></div>
            <div class="vdown ext"></div>
            <div class="power ext">

            </div>
          </div>
    </div>
</div>