<p>main works!</p>
<div class="row">
    <div class="col-md-8 col-sm-12">
      One of three columns
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="phone">
            <div class="speaker"></div>
            <div class="camera"></div>
            <div class="sensor"></div>
            
            
            <div class="screen">
               <!-- Here will be content from API -->
               Hello world!
            </div>
            
            <div class="button"></div>
            <div class="vup ext"></div>
            <div class="vdown ext"></div>
            <div class="power ext">

            </div>
          </div>
    </div>
</div>